@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Technical Assessment</h1>
    <p>This is just a display sample for the jsons file you sent.</p>
    <p>Develop by John Francis Astillero</p>
</div>
