@model List<ProductData>

@{
    ViewData["Title"] = "Store";
}

<h1>@ViewData["Title"]</h1>

<table border="1" class="table table-reponsive table-striped">
    <thead>
        <tr>
            <th>Row Number</th>
            <th>Product Name</th>
            <th>Product Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@(Model.IndexOf(product) + 1)</td>
                <td>@product.product_name</td>
                <td>@product.Cost</td>
            </tr>
        }
    </tbody>
</table>
